@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.titlesFont{
  font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4{
  font-family: "Poppins", sans-serif;
}
.textsFont{
  font-family: "Roboto", sans-serif;
}

.titulo{
  font-size: 48px ;
  font-weight: 600 ;
  color: #D03438;
  text-transform: lowercase;
  line-height: 1;
  font-family:"Poppins", sans-serif
}

.subtitulo{
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #696969;
  font-size: 16px ;
}
.bgBlur{
  background: rgba(44, 26, 83, 0.20);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
}



.imgBlurContainer {
  position: relative;
  overflow: hidden;
}

.imgBlurContainer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(1.05); 
}

.imgBlurContainer img:hover {
  filter: none;
  transform: scale(1); 
}

.imgBlurContainer img:hover + .paragrafo {
  display: none;
}

.paragrafo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  font-weight: 600;
  font-size: 1.875rem; 
  color: white;
  pointer-events: none; 
}


.swiperHome{
  --swiper-navigation-color: #fff;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-size: 60px;
  --swiper-navigation-top-offset: 50%;
  --swiper-pagination-color:#ffffff ;
  --swiper-pagination-bullet-size: 20px;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
}

.autoplayProgress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplayProgress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #fff;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* icon hand  */

.hand-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  animation: slide 1.6s infinite;
}

@keyframes slide {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(24px); /* ajuste conforme necessário */
  }
}